:root{
    font-size: 16px;
}

body{
    color: black;
    background-color: white;
    padding: 0;
    margin: 0;
}

body::-webkit-scrollbar {   
     width:0.25rem;
}

body::-webkit-scrollbar-track {
    background-color: rgb(8, 8, 8);
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(119, 40, 194);
}

main{
    margin-left: 5rem;
    padding: 1rem;
}

.navbar {

    position: fixed;
    background-color: rgb(34, 28, 28);
    transition: width 200ms ease;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: cornsilk;
    text-decoration: none;
    transition: color 3s ease 0.1s;
    filter: grayscale(10%) opacity(0.7);
}

.nav-link:hover {
    color: rgb(119, 40, 194);
    filter: grayscale(0%) opacity(1);
    background-color: rgb(8, 8, 8);
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.nav-link svg {
    min-width: 2rem;
    margin: 0 1.5rem;
}

.navbar:hover {
    
    height: 100vh;
}

.navbar:hover .link-text {
   display: block;
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    letter-spacing: 0.3ch ;
    width: 100%;
}

.logo svg {
    transform: rotate(0deg);
    transition: transform 0.5s;
}

.navbar:hover .logo svg {
    transform: rotate(-180deg);
}

@media only screen and (max-width : 600px) {
    .navbar{  
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }

    .navbar:hover {
        height: 5rem;
    }

    .logo {
        display: none;
    }
    
    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }
    main {
        margin: 0;
    }


}

@media only screen and (min-width : 600px) {
   .navbar{  
    top: 0;
    width: 5rem;
    height: 100vh;
}


.navbar:hover {
    width: 16rem;
}

.navbar:hover .link-text {
    display: inline;

 }
}